

<%- include header %>

<div class="txt">
  <b><%= post.title %></b>
  <div class="content "><%- post.post %></div>
  <div class="bot">
  <div class="info">
    作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
    日期：<%= post.time.minute %>
    </div>
    <p>
      <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
      <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
    </p>
  </div>
  
  </div>

<%- include footer %>