<% include header %>

<ul class="archive">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <div class="txt">
    <b><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></b>
    <div class="content s_content"><%- post.post %></div>
    <div class="bot">
      <div class="info">
        作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
        日期：<%= post.time.minute %>
      </div>
      <div class="btn"><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">+阅读全文</a></div>
    </div>

  </div>
<% }) %>
</ul>



<% include footer %>